.form {
  border: 1px solid rgb(197, 186, 186);
  width: 87.3%;
  padding: 1%;
  margin-left: 40px;
  margin-top: 25px;
}

.add-title {
  color: rgb(141, 139, 139);
}

input {
  margin-left: 15px;
}

.add-book {
  width: 580px;
  height: 30px;
}

.add-author {
  width: 270px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-add-book {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(28, 195, 236);
  font-size: 11px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 4px;
  width: 180px;
}
